@import url("./nav-bar.css");
@import url("./animation.css");

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-popping: "Poppins", sans-serif;
  --font-playwrite: "Playwrite CO", cursive;
  --coffee: #fff7e9;
  --btn-color: #444030;
  --btn-color-pale: #444030a5;
  --white: white;
  --pale-white: #ababab;
  --container-width-lg: 82%;
  --container-width-md: 90%;
  --container-width-sm: 98%;
  --transition: all 400ms ease;
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--coffee);
}
main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--coffee);
  animation: slideInFromBottom 1.5s ease-in-out;
  gap: 20px;
  padding: 2rem 0;
}
/* start of story */
.story-container {
  width: calc(100% - 2rem);
  height: 100%;
  position: relative;
  background-image: url("../assets/image/story-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2rem;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.story-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.contents,
.image-section {
  z-index: 2;
}

.contents {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: var(--white);
}

.contents {
  font-family: var(--font-playwrite);
  margin: 1rem 0;
  font-weight: 400;
  padding: 0 1.2rem;
}
.content-details {
  animation: slideInFromLeft 2s ease-in-out;
}
.contents h1 {
  font-size: 2.4rem;
  font-weight: 600;
}
.btn-style {
  width: 7rem;
  margin: 2rem 0;
  padding: 0.5rem;
  background-color: var(--btn-color);
  font-family: var(--font-popping);
  font-size: 15px;
  border: 1px solid transparent;
  color: var(--coffee);
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-style:hover,
.btn-menu:hover {
  background-color: var(--pale-white);
}

.image-section {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: fadeIn 2s ease-in-out;
}
.img-section,
.img-section2 {
  max-width: 100%;
  height: auto;
}
.img-section .img-1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-section2 {
  flex-direction: row;
  gap: 10px;
}
/* end of story */
/* start of menu */
.menu-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  animation: fadeIn 1.5s ease-in-out;
}

.menu-content h2 {
  font-family: var(--font-playwrite);
  color: black;
  margin-bottom: 1rem;
  animation: slideInFromLeft 1.5s ease-in-out;
}
.under-arrow {
  text-align: center;
  animation: slideInFromBottom 2s ease-in-out;
  color: black;
}
.under-arrow i {
  margin: 1rem 0;
  gap: 0;
  padding: 0;
  font-size: 1.5rem;
  color: var(--pale-white);
  animation: moveUpDown 1s ease-in-out infinite;
}
.menu-details {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-popping);
  font-weight: 400;
  color: var(--btn-color);
}
.menu-details h3 {
  color: var(--btn-color);
  line-height: 2;
  font-family: var(--font-playwrite);
  font-size: 1.2rem;
  animation: fadeIn 2.2s ease-in-out;
}
.menu-details p {
  margin-top: 10px;
  font-size: 1rem;
  animation: fadeIn 2.2s ease-in-out;
}
/* end of menu detail part */
.btn-menu {
  width: 7.3rem;
  height: 2.2rem;
  margin: 1.5rem 0;
  padding: 1.2rem auto;
  text-align: center;
  background-color: var(--btn-color);
  font-family: var(--font-popping);
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid transparent;
  color: var(--coffee);
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2.2s ease-in-out;
}

/* menu image section */
.menu-img {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.img-container {
  width: 330px;
  height: 330px;
  margin: 1rem 10px;
  text-align: left;
}
.img-container p {
  color: var(--btn-color);
  font-size: 1rem;
  font-family: var(--font-popping);
  font-weight: 400;
  text-transform: capitalize;
  margin: 12px 0;
}
.img-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.img-para {
  display: none;
}
/* responsive for tablet */
@media screen and (max-width: 1024px) {
  .main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .story-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contents {
    width: 50%;
    height: auto;
  }
  .contents h1 {
    font-size: 1.5rem;
  }
  .contents p {
    font-size: 0.7rem;
  }
  .image-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 1rem;
  }
  .img-section {
    max-width: 100%;
  }
  .img-section2 {
    max-width: 50%;
  }
  .img-section.img-1 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-section2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .menu-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin:10px 0;
  }
  .img-pa{
    display: none;
  }
  .img-para{
    display: block;
  }
}
/* responsive for mobile */
@media screen and (max-width: 600px) {
  .main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .story-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contents {
    width: 100%;
    height: auto;
  }
  .content-details {
    width: 100%;
    margin-top: 2rem;
  }
  .contents h1 {
    font-size: 1.5rem;
  }
  .contents p {
    font-size: 0.7rem;
  }
  .image-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 1rem;
  }
  .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-content h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .menu-details h3,
  .menu-details p {
    font-size: 1rem;
  }
}
